.backgroundHome {
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  background-color: var(--black-contrast);
  height: 60px;
}

.titulo {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.paginado {
    margin: 0 auto;
    max-width: 320px;
    display: flex;
    flex-direction: column;
  }

  .refresh {
    font-size: 1rem;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 40px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 8px;
    background-color: var(--btn-yellow);
    color: var(--absolute-black);
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.4s;
  }

  .refresh:hover {
    color: var(--absolute-white);
    background-color: var(--hover-yellow);
  }

  .gridHome {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  grid-template-rows: repeat(auto-fill, minmax(100px, 150px));
  grid-gap: 20px;
  }

  .pokemonsContainer {
    position: relative;
  }