@import url('https://fonts.googleapis.com/css?family=Lato:400,100,300,700,100italic,300italic,400italic,700italic,900,900italic');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

.btn-container {
    display: flex;
  }

.btn {
    margin: 50px 20px 20px 50px;
    border: none;
    border-radius: 8px;
    font-size: 2rem;
    transition: 0.4s;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  .btn:hover {
    background-color: var(--hover-gray);
    color: var(--absolute-white);
  }

.title {
    font-size: 2rem;
    color: white;
    text-align: center;
    -webkit-text-stroke: 1px rgb(236, 219, 164);
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 0px 0px 50px 0px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 
        0 0 5px rgb(223, 157, 109,1),
		0 0 10px rgba(223, 157, 109,1),
		0 0 20px rgb(223, 157, 109,1),
		0 0 40px rgba(246, 144, 72,1),
		0 0 80px rgba(246, 144, 72,1),
		0 0 90px rgb(250, 101, 1, 1),
		0 0 100px rgba(250, 101, 1,1),
		0 0 140px rgb(255, 255, 255),
		0 0 180px rgb(248, 222, 204);
  }

.grid {
  display: grid;
/*   grid-template-columns: 100px 250px;
 */  align-items: center;
  margin-top: 40px;
  margin: 0 auto;
  width: 350px;
  border-radius: 32px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
} 

.imgwiki {
    margin: 70px 30px 50px 50px;
    width: 180px;
    height: 180px;
    border-radius: 100%;
  }

 .backgroundLanding {
    background-image: url("https://assets.pokemon.com//assets/cms2-es-es/img/misc/virtual-backgrounds/sword-shield/dynamax-battle.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
} 

:root {
    /* --black-contrast: #0b0f10; */
    --black-contrast: #21292c;
    --blue-bootstrap: #007bff;
    --absolute-white: #fff;
    --absolute-black: #000;
    --trasition-blue: #1f65b6;
    --btn-gray: #d0d1d1;
    --hover-gray: #818081;
  }
