.backgroundCard {
    position: relative;
    min-width: 300px;
    max-width: 500px;
    font-family: "Roboto", sans-serif;
  }

  .link {
    text-decoration: none;
    color: var(--absolute-black);
  }

  .gridCard {
    /* position: relative; */
    display: grid;
    /* grid-template-columns: 150px 150px; */
    justify-content: display;
    background-color: rgb(218, 214, 214);
    border: none;
    border-radius: 8px;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
    transition: 0.4s;
    margin: 0;
  }

  .gridCard:hover {
    background-color: white;
    box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.4);
  }

  .nameCard {
    font-size: 1.2rem;
  }

  /* :root {
    --black-contrast: #0b0f10; 
    --black-contrast: #21292c;
    --blue-bootstrap: #007bff;
    --absolute-white: #fff;
    --absolute-black: #000;
    --trasition-blue: #1f65b6;
    --btn-gray: #d0d1d1;
    --hover-gray: #818081;
    --steel-color: #b1a7ba;
    --water-color: #3399ff;
    --bug-color: #a7b33b;
    --dragon-color: #7365ab;
    --electric-color: #f4cb5c;
    --ghost-color: #6d6895;
    --fire-color: #de5039;
    --fairy-color: #f2b4eb;
    --ice-color: #90d9e5;
    --fighting-color: #dc9c8f;
    --normal-color: #dbd3d1;
    --grass-color: #a9df8f;
    --psychic-color: #f89dbb;
    --rock-color: #bba96f;
    --dark-color: #4f4436;
    --ground-color: #ecd495;
    --poison-color: #9c5e8c;
    --flying-color: #6590c8;
    --unknown-color: #699d8e;
    --shadow-color: #000000;
    --soft-gray: #eee;
  } */